* {
  padding: 0;
}

#gameOver-message {
  font-size: 400%;
  font-family: Lato, sans-serif;
}





canvas {
  margin: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
